.wrapper {
  display: block;
}

.warehouse {
  background-image: url("../../assets/images/warehouse_speedpaint_by_ljfhutch_d41zy8h-fullview.jpg");
}

.character {
  position: relative;
  width: 320px;
  height: 876px;
  background-image: url("../../assets/images/v1_by_simonfetscher_d73amfn.png");
  background-size: 320px 876px;

  .head {
    position: absolute;
    top: 5px;
    left: 210px;
  }

  .hip {
    position: absolute;
    top: 350px;
    left: 150px;
  }

  .feet {
    position: absolute;
    top: 790px;
    left: 100px;
  }
}
