<div cdkDropListGroup class="wrapper">
  <app-storage-box
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="equipableItems"
    cdkDropList
    class="warehouse"
    h="20"
    w="100"
  >
    <app-item
      *ngFor="let item of equipableItems"
      [item]="item"
      cdkDrag
    ></app-item>
  </app-storage-box>

  <div class="character">
    <app-storage-box
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="scavenger.inventory.head"
      cdkDropList
      class="head"
      h="5"
      w="5"
    >
      <app-item
        *ngFor="let item of scavenger.inventory.head"
        [item]="item"
        cdkDrag
      ></app-item>
    </app-storage-box>
    <app-storage-box
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="scavenger.inventory.hip"
      cdkDropList
      class="hip"
      h="4"
      w="8"
    >
      <app-item
        *ngFor="let item of scavenger.inventory.hip"
        [item]="item"
        cdkDrag
      ></app-item>
    </app-storage-box>
    <app-storage-box
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="scavenger.inventory.feet"
      cdkDropList
      class="feet"
      h="4"
      w="2"
    >
      <app-item
        *ngFor="let item of scavenger.inventory.feet"
        [item]="item"
        cdkDrag
      ></app-item>
    </app-storage-box>
  </div>
</div>
<button [routerLink]="['', { outlets: { middle: null } }]">close</button>
