<h1>Bunker E-04-T</h1>
<p>
  Welcome Bruh, drink your de-radiaded coke and tell me what you want to do.
</p>

choose the Scavenger you want to order:
<div *ngFor="let scavenger of scavengerService.availableScavengers | async">
  <span>{{ scavenger.name }}</span>
  <button>Send</button>
  <button [routerLink]="['/', { outlets: { middle: 'equip' } }]">Equip</button>
</div>
<router-outlet name="middle"></router-outlet>

<div>Status: {{ scavStatus | async }}</div>

<router-outlet></router-outlet>
