:host {
  background-color: #443d35;
  font-size: 7px;
  display: grid;
  box-shadow: inset 0 0 0 0.2px #745836;
}

.hover {
  background-color: #786b5c;
}

.occupied {
  background-color: #742538;
}

.unoccupied {
  background-color: #236618;
}
